<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:init">
    <div data-template="templates:surround" data-template-with="page_index.html" data-template-at="content-container">

    
<!-- Main body
================== -->
        <div class="wrapper">
            <div class="section-header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
            <!-- Remove the .animated class if you don't want things to move -->
                            <h1 class="animated slideInLeft">
                                <span>Our Team</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="hl text-center top-zero">Our Team</h1>
                        <p class="lead text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor. Vivamus a ultrices ante.
          </p>
                        <br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="team">
                            <div class="member-left">
                                <img src="img/face1.jpg" alt="Team Member" class="left"/>
                                <h4>Alex Smith</h4>
                                <p class="position">CEO</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor.</p>
                            </div>
                            <div class="member-right">
                                <img src="img/face2.jpg" alt="Team Member" class="right"/>
                                <h4>Dan Smith</h4>
                                <p class="position">Project Manager</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor.</p>
                            </div>
                            <div class="member-left">
                                <img src="img/face3.jpg" alt="Team Member" class="left"/>
                                <h4>David Smith</h4>
                                <p class="position">Engineer</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget consequat sapien. Phasellus ac augue velit. Cras malesuada lectus et purus consequat porttitor.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="about-btn">
                            <a class="btn btn-default" href="about-us.html">Our Company</a>
                            <a class="btn btn-default" href="contact.html">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>