<?xml version="1.0" encoding="UTF-8"?>
<config>
  <!-- global parameters -->
    <param key="project-id">textgrid</param>
    <param key="project-title">SADE</param>
    <param key="template">/templates/tmpl1/</param>
    <param key="textgrid.tgcrud">https://textgridlab.org/1.0/tgcrud/rest</param>
    <param key="textgrid.webauth">https://textgridlab.org/1.0/WebAuthN/TextGrid-WebAuth.php</param>
    <param key="textgrid.authZinstance">textgrid-esx2.gwdg.de</param>
    <param key="textgrid.user">TODO</param>
    <param key="textgrid.password">TODO</param>
    <param key="textgrid.public-triplestore">https://textgridlab.org/1.0/triplestore/textgrid-public</param>
    <param key="textgrid.nonpublic-triplestore">https://textgridlab.org/1.0/triplestore/textgrid-nonpublic</param>
    <param key="data-dir">data</param>
    <param key="sade.user">admin</param>
    <param key="sade.password"/>
    <!--  if you want to distinguish between develop and productive instance,
          set sade.develop "true" -->
    <param key="sade.develop">true</param>
    <!--  if sade.develop is set to true and you want to look behind the curtain
          you probably want to set a password like secret for auth -->
    <param key="secret">TODO</param>
    <param key="textgrid.digilib">https://textgridlab.org/1.0/digilib/rest/IIIF</param>
    <param key="textgrid.digilib.tile">dw=100&amp;dh=100</param>
    <param key="textgrid.sidcachepath">/sade-projects/textgrid/</param>
    <param key="textgrid.sidcachepath.user">admin</param>
    <param key="textgrid.sidcachepath.password"/>



  <!-- parameters for MODULES -->
    <module key="tmpl-nav">
        <param key="location">navigation.xml</param>
    </module>
    <module key="multiviewer">
        <param key="xslt">
      <!--stylesheet
                namespace="http://www.tei-c.org/ns/1.0"
                location="stylesheets/db2xhtml.xsl">
            <stylesheet
                namespace="http://www.tei-c.org/ns/1.0"
                location="../text-viewer/resources/tei/stylesheet/xhtml2/tei.xsl">


            </stylesheet-->
            <stylesheet namespace="http://blumenbach-online.de/blumenbachiana" local="true" location="xslt/bol.xsl">
                <parameters>
                    <param name="imgParams" value="?dh=200"/>
                </parameters>
            </stylesheet>
        </param>
    </module>
    <module key="faceted-search">
        <param key="viewer-html">index.html?id=/xml/data/</param>
    <!-- how much kwic hits to show per document -->
        <param key="kwic-hits">3</param>
        <param key="thumbnail">false</param>
        <param key="hits-per-page">10</param>
        <param key="result-xslt">/db/sade-projects/textgrid/xslt/search-hit.xslt</param>
        <param key="query-root">
            <xpath>//tei:TEI</xpath>
        </param>
        <param key="result-title">
            <xpath>//tei:fileDesc//tei:titleStmt/tei:title/text()</xpath>
        </param>
        <param key="thumbnail">false</param>
        <param key="facets">
            <facet key="persons" title="Person">
                <xpath>tei:author</xpath>
            </facet>
            <facet key="keywords" title="Schlagwort">
                <xpath>tei:term</xpath>
            </facet>
            <facet key="dates" title="Zeit">
                <xpath>tei:date/@when</xpath>
            </facet>
            <facet key="places" title="Publikationsort">
                <xpath>tei:pubPlace</xpath>
            </facet>
        </param>
    </module>
</config>
